body {
  font-family: Andale Mono;
}

div.full-page {
  display: flex;
  max-width: 100%;
}

.profile-image {
  width: 100px;
  border-radius: 20px;
  display: inline-block;
  margin: 90px 0px 0px 0px
}

div.left-side {
  flex: 1;
  display: flex; 
  justify-content: flex-end; 
  align-items: flex-start; 
}

div.right-side {
  flex: 1;
}

div.pagecontents {
  margin: 30px 15px;
}

div.pagecontents p, div.pagecontents li, div.blogcontents p, div.blogcontents li {
  line-height: 1.2;
  font-size: 16px;
}

div.pagecontents, div.blogcontents, code, pre {
  max-width: 650px;
}

div.blogcontents {
  margin: 30px auto 0px auto;
}

div.navbar {
  display: inline-block;
  padding: 10px;
  /* Thanks, oilshell.org, for inspiration. */
  background-color: #DEE;
}

.info-container {
  width: 100%; /* Full width of the container */
}

.info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; /* Space between rows */
}

.right-text {
  white-space: nowrap; /* Keeps the right text in one line */
}

li.post-item {
    display: table;
    width: 100%;
}
a.post-title span {
    float: left;
}
div.post-date i {
    float: right;
}
h1, h2, h2 {
    line-height: 1.2;
}
aside {
/* margin-top: -20px;
    margin-bottom: -10px; */
    margin-left: 20px;
    font-style: italic;
}
pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    display: block;
    padding: 15px;
}
.newlink:after {
    content: "(new!)";
    padding-left: 5px;
    color: red;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
}

.infotitle{
  color: gray;
}

footer hr {
    margin-top: 40px;
}
/* Inline code */
code.highlighter-rouge {
    color: rgb(246, 144, 161);
}
table {
  margin: 15px 0;
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8;
    }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

/* Thanks to
https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
*/
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #dfdfdf;
    background: #0d0e15;
  }
  div.navbar {
    background-color: #212121;
  }
  a[href] {
    color: #ffffff;
  }
  a[href]:visited {
    color: #c2c2c2;
  }
  code.highlighter-rouge {
    color: #fe8019;
  }
  svg, object.svg, img.svg {
    filter: invert(100%);
  }
  table tr {
    border-top: 1px solid #555;
    background-color: #121212;
  }
  table tr:nth-child(2n) {
    background-color: #212121;
  }
  li code, p code {
    color: #fe8019;
  }
}

/* Stuff for posts */
img.post-inline-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
div.post-co-authors {
    padding-top: 10px;
}
/* TODO: See https://alexwlchan.net/2021/10/console-copying/ to disable
 * prompt selection in console blocks */

/* Begin: display a small horizontal bar before footnote elements if they
 * exist. */
div.footnotes {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

div.footnotes:before {
  /* Element only present when there are footnotes. */
  content: '';
  width: 50%;
  left: 25%;
  height: 2px;
  background: #b0b0b0;
  position: absolute;
  top: -1px;
}
/* End horizontal bar. */

a.footnote:before {
 content: "[";
}

a.footnote:after {
    content: "]";
}
figure object.svg {
  max-width: 100%;
}

/*stuff for project pages*/

/*stuff for work section*/
.col-25 {
  width: 20%;
  float: left;
  margin-top: 6px;
}

.col-75 {
  width: 80%;
  float: left;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.past-text {
  color: #3283ef;
}

.current-text {
  color: #35d839;
}

h2 + .row {
  margin-top: 20px; /* Adds space above the row div, only if it directly follows an h2 */
}

.content-divider {
  border: 0;              
  height: 1px;                
  background-color: #33383b;   
  width: 15%;  
  margin: 25px 0 25px 0;                       
}